.About {
    width: 80%;
    margin: auto;
    height: 93.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myself h1 {
    color: aliceblue;
    font-size: 25px;
}

.myself {
    width: 45%;
    height: 80%;
    padding: 20px;
    /* border: 2px solid red; */
    color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.skils {
    width: 45%;
    height: 80%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.myself h1 {
    margin-bottom: 20px;
}

.myself h2 {
    margin-bottom: 20px;
}

.myself .h1 {
    color: dodgerblue;
    font-size: 30px;
}

.skils h1 {
    color: dodgerblue;
}

.html {
    width: 400px;
    height: 5px;
    border: 2px solid blue;
    padding: 4px;
    border-radius: 10px;

}

.html div {
    width: 0;
    height: 100%;
    border-radius: 2px;
    background-color: aliceblue;
    transition: 2s;
    animation: expandAndMove 2s forwards;
}

@keyframes expandAndMove {
    0% {
        width: 0;
        right: 0;
    }

    100% {
        width: 90%;
        right: 100%;
    }
}

.skils {
    color: aliceblue;
}

.css {
    width: 400px;
    height: 5px;
    border: 2px solid blue;
    padding: 4px;
    border-radius: 10px;
}

.css div {
    width: 0;
    height: 100%;
    border-radius: 2px;
    background-color: aliceblue;
    animation: expandAndMove2 2s forwards;
}

@keyframes expandAndMove2 {
    0% {
        width: 0;
        right: 0;
    }

    100% {
        width: 80%;
        right: 100%;
    }
}

.tailwind {
    width: 400px;
    height: 5px;
    border: 2px solid blue;
    padding: 4px;
    border-radius: 10px;
}

.tailwind div {
    width: 0;
    height: 100%;
    border-radius: 2px;
    background-color: aliceblue;
    animation: expandAndMove3 2s forwards;
}

@keyframes expandAndMove3 {
    0% {
        width: 0;
        right: 0;
    }

    100% {
        width: 75%;
        right: 100%;
    }
}

.sass {
    width: 400px;
    height: 5px;
    border: 2px solid blue;
    padding: 4px;
    border-radius: 10px;
}

.sass div {
    width: 0;
    height: 100%;
    border-radius: 2px;
    background-color: aliceblue;
    animation: expandAndMove4 2s forwards;
}

@keyframes expandAndMove4 {
    0% {
        width: 0;
        right: 0;
    }

    100% {
        width: 70%;
        right: 100%;
    }
}

.javascript {
    width: 400px;
    height: 5px;
    border: 2px solid blue;
    padding: 4px;
    border-radius: 10px;
}

.javascript div {
    width: 0;
    height: 100%;
    border-radius: 2px;
    background-color: aliceblue;
    animation: expandAndMove5 2s forwards;
}

@keyframes expandAndMove5 {
    0% {
        width: 0;
        right: 0;
    }

    100% {
        width: 70%;
        right: 100%;
    }
}

.react {
    width: 400px;
    height: 5px;
    border: 2px solid blue;
    padding: 4px;
    border-radius: 10px;
}

.react div {
    width: 0;
    height: 100%;
    border-radius: 2px;
    background-color: aliceblue;
    animation: expandAndMove6 2s forwards;
}

@keyframes expandAndMove6 {
    0% {
        width: 0;
        right: 0;
    }

    100% {
        width: 80%;
        right: 100%;
    }
}

.node {
    width: 400px;
    height: 5px;
    border: 2px solid blue;
    padding: 4px;
    border-radius: 10px;
}

.node div {
    width: 0;
    height: 100%;
    border-radius: 2px;
    background-color: aliceblue;
    animation: expandAndMove7 2s forwards;
}

@keyframes expandAndMove7 {
    0% {
        width: 0;
        right: 0;
    }

    100% {
        width: 85%;
        right: 100%;
    }
}

.Box {
    margin-bottom: 20px;
}

.Box h2 {
    margin-bottom: 5px;
}