.Main {
    height: 93.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inMain {
    text-align: left;
    width: 30%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 115px;
}

.Btn {
    width: 430px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Btn button {
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    transition: .4s;
}


.Btn button:hover {
    box-shadow:
        0 5px 20px rgba(162, 0, 255, 0.5),
        0 5px 20px rgba(116, 12, 154, 0.5),
        0 5px 30px rgba(149, 0, 0, 0.5);
}

.inMain2 img {
    object-fit: cover;
    width: 95%;
    height: 95%;
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.4),
        0 10px 40px rgba(0, 0, 0, 0.4),
        0 10px 40px rgba(0, 0, 0, 0.4);
}

.inMain2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 600px;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(146, 0, 236), rgb(221, 0, 255), rgb(38, 0, 255));
    background-size: 300% 300%;
    animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width:450px) {
    .Main {
        flex-direction: column;
    }

    .Btn {
        flex-direction: column;
        width: 300px;
        height: 100px;
    }

    .Btn button {
        height: 40px;
        margin-bottom: 10px;
    }

    .inMain {
        width: 300px;
        height: 150px;
    }

    .inMain h1 {
        font-size: 25px;
        text-align: center;
    }

    .inMain2 {
        width: 390px;
    }

    .inMain2 img {
        width: 360px;
    }
}