.Conatact {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 600px;
    color: aliceblue;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0 0 10px #ccc;
}

form {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    height: 100%;
}

input {
    width: 350px;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0 5px;
}

.phone_label {
    background-color: #fff;
    color: #000;
    width: 350px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.phone_label input {
    width: 300px;
    height: 35px;
    border: none;
    margin-top: 15px;
}

label {
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
}

button {
    width: 300px;
    height: 50px;
    margin: auto;
    border-radius: 0 30px 0 30px;
    transition: 1s;
    font-size: 20px;
}

button:hover {
    border-radius: 30px 0 30px 0;
    box-shadow: 0 0 20px blue;
    border: none;
    text-shadow: 0 0 10px blue;
}

@media (max-width:450px) {
    .Conatact {
        width: 350px;
    }

    input {
        width: 300px;
    }

    .phone_label {
        width: 300px;
    }

    .phone_label input {
        width: 240px;
        padding: 0 5px;
    }

    form {
        margin: auto;
        border: 2px solid red;
        width: 300px;
    }

    button {
        width: 300px;
    }
}